* {
	font-size: 100%;
    line-height: 100%;
	font-family: sans-serif;
    margin: 0;
    padding: 5;
}

img {
    max-width: 25%;
    max-height: 25%;
}

#profile-pic {
    max-width: 5%;
    max-height: 5%;
}