header,
footer {
    background-color: #555555;
    color: #eeeeee;
    border: 25px solid #000000;
    padding: 1%;
}

header h1 {
    font-size: 250%;
}

h1 span {
    font-size: 100%;
    color: #000000;
}

header ul,
footer ul {
    text-align: right;
    list-style-type: none;
}

header li {
    font-size: 225%;
    list-style-type: none;
    display: inline;
    padding: 2%;
}

header a {
    text-decoration: none;
    color: #eeeeee;
}

content {
    background-color: #999999;
    color: #000000;
    font-size: 150%;
    border-left: 15px solid #000000;
    border-right: 15px solid #000000;
    padding: 2.5%;
    display: flex;
    flex-wrap: wrap;
}

content h2 {
    color: #eeeeee;
    font-size: 200%;
}

aboutme {
    border: 5px solid #000000;
    border-radius: 25px;
    padding: 2%;
}

aboutme h2 {
    text-align: center;
}

aboutme p {
    padding: 1%;
    line-height: 1.5;
}

work {
    padding: 3%;
    justify-content: space-evenly;
}

work h2 {
    padding: 2.5%;
}

example1 {
    text-align: center;
    padding: 1.5%;
}

example1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 50%;
    padding: 1%;
}

.example {
    display: inline-block;
    padding: 5%;
}

example2 img,
example3 img,
example4 img {
    max-width: 100%;
    max-height: 100%;
    padding: 1.5%;
}

img:hover {
    opacity: 75%;
}

footer h2 {
    color: #eeeeee;
    font-size: 300%;
}

footer li {
    font-size: 250%;
    list-style-type: none;
    display: inline;
    padding: 2%;
    color:#000000;
}

footer a {
    text-decoration: none;
    color:#000000;
}

@media screen and (max-width: 1039px) {
    header li, footer li {
      display: block;
    }
}

@media screen and (max-width: 1524px) {
    .example {
      display: block;
      justify-content: column;
    }
}